In [40]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#create variable for total number of players and use .count for one column to determine total number of players
Total_Players = purchase_data["Purchase ID"].count()
print(f"Total number of players is {Total_Players}")

#list column names
list(purchase_data)
purchase_data.head()

Total number of players is 780

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
##Number of unique items

#unique function to determine number of unique Item ID entries
unique_items=purchase_data["Item ID"].unique()

##average purchase price and total revenue
avg_price = purchase_data["Price"].mean()
total_revenue = purchase_data["Price"].sum()

#create new data frame of summarized values:  needs formatting!
summary_df=pd.DataFrame({"Number of Unique Items": [len(unique_items)],
                        "Average Price": [avg_price],
                        "Number of Purchases": [Total_Players],
                        "Total Revenue": [total_revenue]  
})

##Change formatting for average price and total revenue to currency using map
summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"]=summary_df["Total Revenue"].map("${:.2f}".format)

#display summary data table
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [99]:
#create new dataframe to drop duplicate screen names to perform gender count
gender_df=purchase_data.drop_duplicates("SN")

count=gender_df["Gender"].value_counts()
count_per=gender_df["Gender"].value_counts(normalize=True)

gender_summary=pd.DataFrame({"Total Count":count,
                             "Percentage of Players":count_per*100                          
                            })

gender_summary["Percentage of Players"]=gender_summary["Percentage of Players"].map("{:.2f}".format)

gender_summary

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91